In [1]:
# 경로 확인
%pwd

'C:\\Users\\yslee\\boostcourse'

In [2]:
import os
os.getcwd()

'C:\\Users\\yslee\\boostcourse'

In [3]:
from glob import glob

glob("data1/*")[0]

'data1\\store'

In [4]:
import pandas as pd

In [5]:
pd.read_csv("data1/도로교통공단_월별 주야별 교통사고 통계_20231231.csv", encoding="cp949")

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   8682    98  2209   9440     759
1     1  야   5798    92  1539   6349     530
2     2  주   8056    95  2149   8710     710
3     2  야   5228    86  1419   5553     500
4     3  주  10393   109  2600  11132     880
5     3  야   5607    78  1449   5930     467
6     4  주  10460    93  2797  11356    1055
7     4  야   5876    89  1609   6181     551
8     5  주  11668   135  3132  12618    1178
9     5  야   5884    68  1576   6233     603
10    6  주  10962   114  2881  11797    1092
11    6  야   5754    88  1601   5893     613
12    7  주  10647   105  2755  11552    1138
13    7  야   5931   100  1554   6165     549
14    8  주  11185   136  2990  12252    1111
15    8  야   6027   110  1632   6287     641
16    9  주  11458   130  3063  12396    1119
17    9  야   6402   109  1777   6559     737
18   10  주  11039   141  3186  11609    1102
19   10  야   6294   124  1814   6383     559
20   11  주  11397   139  3143  12183    1081
21   11  야   6351   118  1706   6565     620
22   12  주  10540   107  2691  11407    1003
23   12  야   6657    87  1717   7019     643

## 여러 파일 한번에 로드하는 방법

In [6]:
file_csv = glob("data1/store/*_*.csv")
file_csv

['data1/store\\소상공인시장진흥공단_상가(상권)정보_강원_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_경기_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_경남_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_경북_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_광주_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_대구_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_대전_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_부산_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_서울_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_세종_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_울산_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_인천_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_전남_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_전북_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_제주_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_충남_202403.csv',
 'data1/store\\소상공인시장진흥공단_상가(상권)정보_충북_202403.csv']

In [7]:
pd.read_csv(file_csv[0])

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_111168\2135214103.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(file_csv[0])

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
2,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 460,200200,24472,NaN,3,NaN,127.707653,37.867744
3,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189
4,MA010120220805431369,행운쉼터,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4281032022008200005013654,NaN,강원특별자치도 인제군 북면 금강로 751,252826,24609,NaN,NaN,NaN,128.207086,38.171871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95401,MA0101202310A0084366,챌린지24,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,...,4221010800106360014000001,NaN,강원특별자치도 속초시 청초호반로 117,217811,24872,NaN,1,NaN,128.581501,38.190570
95402,MA0101202310A0043532,우수에프앤비,NaN,G2,소매,G204,종합 소매,G20404,슈퍼마켓,G47121,...,4217010700100510001000001,NaN,강원특별자치도 동해시 효자남1길 7,240180,25806,NaN,2,NaN,129.109095,37.490096
95403,MA0101202310A0045843,수니복베이크샵,NaN,I2,음식,I210,기타 간이,I21001,빵/도넛,I56191,...,4213011200127850000000006,NaN,강원특별자치도 원주시 소일마을2길 60-1,220121,26509,NaN,2,NaN,127.966091,37.371090
95404,MA0101202311A0009500,어묵,NaN,I2,음식,I210,기타 간이,I21099,그 외 기타 간이 음식점,I56199,...,4211012400107360003015294,NaN,강원특별자치도 춘천시 애막골길11번길 33,200936,24323,NaN,NaN,NaN,127.752949,37.867046
95405,MA0101202310A0056830,블리스댄스스튜디오학원,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,4213033023113450011000001,NaN,강원특별자치도 원주시 지정면 무릉로 15,220821,26353,NaN,NaN,NaN,127.874778,37.374957

In [ ]:
file_list = []
for file_csv_name in file_csv:
    temp = pd.read_csv(file_csv_name)
    file_list.append(temp)

In [13]:
len(file_list)

17

In [12]:
df = pd.concat(file_list)
df.shape

(2418939, 39)

In [14]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084547,금강산노래광장,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,4217010300007470000000086,파크장,강원특별자치도 동해시 송정로 11,240806,25789,NaN,지,NaN,129.127525,37.495265
1,MA010120220805430903,엔젤,NaN,I2,음식,I201,한식,I20101,백반/한정식,I55109,...,4277032022103660000008290,NaN,강원특별자치도 정선군 남면 민둥산로 175-13,233837,26148,NaN,NaN,NaN,128.792089,37.259788
2,MA010120220805430941,누베헤어,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4211012500100440010000008,춘천파크자이,강원특별자치도 춘천시 스포츠타운길 460,200200,24472,NaN,3,NaN,127.707653,37.867744
3,MA010120220805430946,공차,NaN,I2,음식,I212,비알코올,I21201,카페,I56229,...,4213033023113500001000001,NaN,강원특별자치도 원주시 지정면 신지정로 211,220821,26354,NaN,NaN,NaN,127.872713,37.374189
4,MA010120220805431369,행운쉼터,NaN,I1,숙박,I101,일반 숙박,I10103,펜션,I55104,...,4281032022008200005013654,NaN,강원특별자치도 인제군 북면 금강로 751,252826,24609,NaN,NaN,NaN,128.207086,38.171871

In [15]:
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
81644,MA0101202311A0060835,대박마라탕청대점,NaN,I2,음식,I202,중식,I20202,마라탕/훠궈,I56121,...,4311111300102240004032580,NaN,충청북도 청주시 청원구 대성로 285-1,363813,28505,NaN,1,NaN,127.490207,36.650677
81645,MA0101202311A0044212,강곰아돌지,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,4311111300103310028046220,NaN,충청북도 청주시 청원구 사북로121번길 26,363814,28538,NaN,NaN,NaN,127.484409,36.646227
81646,MA0101202310A0046622,케이팝스타코인노래.멀티게임,NaN,R1,예술·스포츠,R104,유원지·오락,R10405,기타 오락장,R91229,...,4311325026107180000000001,오송생명타워,충청북도 청주시 흥덕구 오송읍 오송생명5로 184-4,361951,28165,NaN,NaN,NaN,127.329639,36.630533
81647,MA0101202310A0071018,이에스,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,4311310200103660040005720,NaN,충청북도 청주시 서원구 창직로 18,362833,28664,NaN,1,NaN,127.463704,36.630725
81648,MA0101202310A0059880,예담골,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,4377034032105590002184462,NaN,충청북도 음성군 대소면 대금로 77-9,369821,27659,NaN,NaN,NaN,127.454835,36.986634

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2418939 entries, 0 to 81648
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      float64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(9), int64(8), object(22)
memory usage: 738.2+ MB